/*-- scss:defaults --*/

$font-size-root: 16px;
// $grid-body-width: 900px !default;

// Color system
$white: #f4f4f4 !default;
$black: #212121 !default;
$brass: #C5947C !default;

$primary:       $white !default;
$secondary:     $brass !default;
$success:       $brass !default;
$info:          $brass !default;
$warning:       $brass !default;
$danger:        $brass !default;
$light:         $brass !default;
$dark:          $brass !default;

// Navbar
$navbar-bg: $black !default;
// $navbar-brand-font-size: 1.5rem !default;
$navbar-brand-padding-y: 1rem !default;

/*-- scss:rules --*/

// Navbar
.navbar-logo {
  max-height: 48.01px;
}

.navbar-container {
  max-width: 1000px;
  margin: 0 auto;
}

.headroom-target, header.headroom {
  transition: transform 100ms linear; //navbar collapse motion.
}

