/* Nav bar */

.navbar {
  padding:0;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  background: url(./assets/ssg_pattern.svg) repeat-x;
  background-color: #212121;
  background-size: 280px 80px;
  background-position: top left;
  position: relative;
}

.navbar-container, .navbar-container .collapse {
  align-items: stretch !important;
  -webkit-align-items: stretch !important;
}

/* search icon on nav bar */

.navbar-container .type-overlay { 
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

.navbar-container .type-overlay .aa-SubmitIcon:hover {
  color: #f4f4f4 !important;
  transition: color 100ms linear;
}

/* tools (github, twitter icon) on nav bar */

.navbar-container .collapse .quarto-navbar-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  padding: 12px 0;
}

.navbar-container .collapse .quarto-navbar-tools .quarto-navigation-tool {
  margin: 0 8px;
}

.navbar-container .collapse .quarto-navbar-tools .quarto-navigation-tool .bi {
  font-size:1.5rem;
}
/* Nav bar menu items */

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item::after {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
  opacity: 0.4;
}

.nav-item:first-of-type {
  margin-top:16px;
}

.nav-item .nav-link { /* default status */
  top:0;
  bottom:0;
  width: 100%;
  padding: 8px 16px !important;
  color: #f4f4f4 !important;
  opacity:0.4;
  font-size: 1rem;
  text-align: center;
}

.nav-item .nav-link:hover { /* hover status */
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  color: #f4f4f4 !important;
}

.nav-item .nav-link.active { /* current page */
  background-color: rgba(255, 255, 255, 0.1);
  opacity:1;
  color: #f4f4f4 !important;
}

@media all and (min-width: 992px) {
  
  .nav-item .nav-link {
    border-radius:8px;
    padding: 4px 16px;
  }

  .nav-item .nav-link.active { 
    background-color: transparent;
  }

  .nav-item:first-of-type {
    margin-top:0;
  }

  .nav-item::after {
    height: 0;
  }
  
  .nav-item:has(.nav-link.active)::after {
    background-color: #f4f4f4;
    opacity:.8;
    width: 100%;
    height: 6px;
  } 
}